! Musho was here
! To APPLY this file: $ xrdb ~/.Xresources

! sätter utf-8
XTerm*locale: true

! gör så att selection hamnar i clip
XTerm*selectToClipboard: true

!font och annat
xterm*font: 7x13
!UXTerm*faceName: -*-tamzenforpowerline-medium-*-*-*-16-*-*-*-*-*-*-*
UXTerm*faceSize: 9

!URXVT config
URxvt.font: -*-tamzenforpowerline-medium-*-*-*-15-*-*-*-*-*-*-*
URxvt*scrollBar: false


! --- ~/.Xresources ------------------------------------------------------------
! ------------------------------------------------------------------------------
! --- generated with 4bit Terminal Color Scheme Designer -----------------------
! ------------------------------------------------------------------------------
! --- http://ciembor.github.com/4bit -------------------------------------------
! ------------------------------------------------------------------------------
! special
*.foreground:   #ffffff
*.background:   #111111
*.cursorColor:  #ffffff

! black
*.color0:       #131313
*.color8:       #d1d1d1

! red
*.color1:       #2d2d2d
*.color9:       #d2c3ad

! green
*.color2:       #4c3a3d
*.color10:      #df9767

! yellow
*.color3:       #4e4e4e
*.color11:      #e1e1e1

! blue
*.color4:       #6f6f6f
*.color12:      #ededed

! magenta
*.color5:       #909090
*.color13:      #ed4b19

! cyan
*.color6:       #aaa998
*.color14:      #f2361e

! white
*.color7:       #b1b1b1
*.color15:      #fa390f
